<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../../css/navbar.css}" href="../../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{../../css/footer.css}" href="../../static/css/footer.css">
    <link rel="stylesheet" th:href="@{../css/projectlist.css}" href="../static/css/projectlist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar" th:fragment="navbar">
        <div class="home-button">
            <a href="/homepage"><img class="logo-img" th:src="@{../images/logo.png}" src="../../static/images/logo.png" alt="Homepage" style="width:auto; height: 50px;"></a></div>

        <div class="myprojects-button" th:if="${session.username != null}">
            <a href="/myprojects">My Projects</a></div>

        <div class="mytasks-button" th:if="${session.username != null}">
            <a href="/mytasks">My Tasks</a></div>

        <div class="resources-button" th:if="${session.username != null}">
            <a href="/resources">Resources</a></div>

        <div class="manage-user-button" th:if="${session.is_admin == 1}">
            <a href="/manage">Manage users</a>
        </div>

        <div class="profile-button" th:if="${session.username != null}">
            <a href="/profile">Profile</a>
        </div>
            <div class="logout-button" th:if="${session.username != null}">
                <a href="/logout">Log out</a>
            </div>


</nav>


<div class="projects-container" th:fragment="projects-container">
           <div class="project-header">
               <div class="table-names">
                   <div class="name-box">
                       <span>Project name</span>
                   </div>
                   <div class="start-date-box">
                       <span>Start date</span>
                   </div>
                   <div class="deadline-box">
                       <span th:if="${session.currentpage != '/mytasks'}">Deadline</span>
                       <span th:if="${session.currentpage == '/mytasks'}">Hours</span>
                   </div>
               </div>
           </div>

            <div th:if="${session.currentpage == '/homepage'}" th:each="project : ${allprojectlist}">
                <a href="/project" th:href="@{'/project/'+${project.getProject_id}}">
                <div class="project-box" >

                   <div class="project-title">
                       <span th:text="${project.getProject_name}">*Project from database*</span>
                   </div>
                   <div class="project-start">
                       <span th:text="${project.getProject_start}">*Project from database*</span>

                   </div>
                   <div class="project-deadline">
                       <span th:text="${project.getProject_deadline}">*Project from database*</span>
                   </div>
               </div>
                </a>
            </div>

    <div th:if="${session.currentpage == '/myprojects'}" th:each="project : ${allmyprojectlist}">
        <a href="/project" th:href="@{'/project/'+${project.getProject_id}}">
    <div class="project-box" >
        <div class="project-title">
            <span th:text="${project.getProject_name}">*Project from database*</span>
        </div>
        <div class="project-start">
            <span th:text="${project.getProject_start}">*Project from database*</span>
        </div>
        <div class="project-deadline">
            <span th:text="${project.getProject_deadline}">*Project from database*</span>
        </div>
    </div>
        </a>
    </div>

    <div th:if="${session.currentpage == '/mytasks'}" th:each="task : ${allmytasklist}">
        <a href="/mytask" th:href="@{'/task/' + ${task.task_id}}">
            <div class="project-box">

                <div class="project-title">
                    <span th:text="${task.getTask_name}">*Task from database*</span>
                </div>
                <div class="project-start">
                    <span th:text="${task.getTask_start}">*Task from database*</span>
                </div>
                <div class="project-deadline">
                    <span th:text="${task.getTask_hours}">*Task from database*</span>
                </div>

            </div>
        </a>
    </div>
</div>
</body>

<footer th:fragment="footer">
    <div class="footer-links">
        <div><a href="/contact">Contact</a></div>
        <div><a href="/about">About</a></div>
        <div><a href="/help">Help</a></div>
        <div><a href="/faq">FAQ</a></div>
    </div>
</footer>
</html>