html
{
    overflow:hidden;
}
nav
{
    position: sticky;
    top: 0;
    z-index: 99;
}
.outer-box
{
    width:100%;
    height: auto;
    align-content: space-evenly;
}
.fragment-size
{
    overflow-y:scroll;
    height:85.9vh;
}


footer
{
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: 0 5% 0 -1%;
}
