*
{
    margin: 0;
    padding:0;
    text-decoration: none;
    color: black;
    overflow-x:hidden;
}

.navbar
{
    display: grid;
    width: 100%;
    height:4rem;
    grid-template-columns: repeat(12, auto);
    align-content: space-evenly;
    background-color: #8ED0AB;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    overflow-y: hidden;
}

.navbar a:hover
{
    color: #255188;
    text-decoration: underline;
}
.navbar div
{
    height:100%;
}

.home-button
{
    grid-column: 1/1;
}

.myprojects-button
{
    grid-column: 5/5;
    padding-top:10px;
}

.mytasks-button
{
    grid-column: 6/6;
    padding-top:10px;
}
.resources-button
{
    grid-column: 7/7;
    padding-top:10px;
}

.manage-user-button
{
    grid-column: 8/8;
    padding-top:10px;
}
.profile-button
{
    grid-column: 12/12;
    padding-top:10px;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #A2E9E9;
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #588585;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #365252;
}