<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{../css/footer.css}" href="../static/css/footer.css">
    <link rel="stylesheet" th:href="@{../css/about.css}" href="../static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
<nav th:insert="~{fragments/navigation.html :: navbar}"> </nav>

<div class="about-outer-box">
    <div class="about-sidebar">
        <div class="about-choice">About us</div>
    </div>
    <div class="about-infobox">
        <h1>Who are we & what do we do?</h1><br>
        <p>We are a group of computer science students, working on projects like these both during school hours and in our own time.<br>
        <br>This project specifically is created in collaboration with Alpha Solutions as a school project, to further our experience in full-stack development.
        </p>


    </div>

</div>





</body>
<footer th:insert="~{fragments/navigation.html :: footer}"></footer>
</html>