<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit project</title>

</head>
<body>
<div class="edit-form-popup" id="editForm">
<form action="/editproject" method="post">

    <input id="projectID" name="projectID" type="hidden" th:value="${project.getProject_id}">

    <input id="projectName" name="projectName" type="text" placeholder="Project name" th:value="${project.getProject_name}">
    <input id="projectDescription" name="projectDescription" type="text" placeholder="Project description" th:value="${project.getProject_description}">
    <input id="projectStart" name="projectStart" type="text" placeholder="Project start date" th:value="${project.getProject_start}">
    <input id="projectDeadline" name="projectDeadline" type="text" placeholder="Project deadline" th:value="${project.getProject_deadline}">
    <input id="projectHours" name="projectHours" type="text" placeholder="Project hours" th:value="${project.getProject_hours}">
    <input id="projectStatus" name="projectStatus" type="text" placeholder="Project status" th:value="${project.getProject_status}">
    <input id="edit-button" type="submit" value="Update">

</form>
</div>
<!--<script>
    function openEditForm()
    {
        document.getElementById("editForm").style.display = "block";
    }

    function closeEditForm()
    {
        document.getElementById("editForm").style.display = "none";
    }
</script>-->

</body>
</html>