<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{../css/navbar.css}">
    <link rel="stylesheet" th:href="@{../css/footer.css}">
    <link rel="stylesheet" th:href="@{../css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <nav th:insert="~{fragments/navigation.html :: navbar}"> </nav>
    <div class="outer-container">
        <div class="login-box">
            <div class="login-form-image">
                <img th:src="@{../images/Loginlogo.png}" src="../static/images/Loginlogo.png" alt="loginLogo" style="height:auto; width:100%";>
                <br>
                <span>Enter your login details below</span>
            </div>

            <div class="login-form-box">
                <a style="color:#fa2727; font-weight: bolder; margin-left: 8px;" th:if="${session.wronglogin == true}">Incorrect username or password </a>
                <form action="/login" method="post">
                    <br>
                    <input id="username-field" name="username" type="text" placeholder="Enter username..." required>
                    <br>
                    <input id="password-field" name="password" type="password" placeholder="Enter password..." required>
                    <br>
                    <input id="submit-button" type="submit" value="Login">
                </form>
            </div>
        </div>
        <div class="login-image-box">
            <img th:src="@{../images/loginImage.png}" src="../static/images/loginImage.png" alt="loginPicture" style="height:auto; width:100%;">
        </div>
    </div>

</body>
<footer th:insert="~{fragments/navigation.html :: footer}"></footer>
</html>