<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{../css/navbar.css}" href="../static/css/navbar.css">
  <link rel="stylesheet" th:href="@{../css/footer.css}" href="../static/css/footer.css">
  <link rel="stylesheet" th:href="@{../css/about.css}" href="../static/css/about.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>Your profile</title>
</head>
<body>
<nav th:insert="~{fragments/navigation.html :: navbar}"> </nav>



</body>
<footer th:insert="~{fragments/navigation.html :: footer}"></footer>
</html>