<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My projects</title>

  <link rel="stylesheet" th:href="@{../css/navbar.css}" href="../static/css/navbar.css">
  <link rel="stylesheet" th:href="@{../css/footer.css}" href="../static/css/footer.css">
  <link rel="stylesheet" th:href="@{../css/resources.css}" href="../static/css/resources.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>Resources</title>
</head>
<body>
  <nav th:insert="~{fragments/navigation.html :: navbar}"> </nav>
  <div id="outer-box">
   <a href="/statistics">
    <div id="resource-object" th:each="project : ${resourceList}">
      <div id="resource-project-name">
        <span style="font-weight:bold;">Project name: <br></span>
        <span th:text="${project.project_name}">*project name*</span>
      </div>
      <div id="resource-start-date">
        <span style="font-weight:bold;">Start date: <br></span>
        <span th:text="${project.project_start}">*start date*</span>
      </div>
      <div id="resource-end-date">
        <span style="font-weight:bold;">End date: <br></span>
        <span th:text="${project.project_deadline}">*end date*</span>
      </div>
      <div id="resource-total-days">
        <span style="font-weight:bold;">Days remaining: <br></span>
        <span th:text="${project.project_days}">*days left*</span>
      </div>
      <div id="resource-total-hours">
        <span style="font-weight:bold;">Total hours left:  <br></span>
        <span th:text="${project.project_hours}">*total hours*</span>
      </div>
      <div id="resource-total-hours-scheduled">
        <span style="font-weight:bold;">Total scheduled hours from tasks:  <br></span>
        <span th:text="${project.project_hours_scheduled}">*total hours*</span>
      </div>
      <div id="assigned-users">
        <span style="font-weight:bold;">Assigned users: <br></span>
        <span th:text="${project.users_assigned}">*Assigned users*</span>
      </div>
      <div id="resource-hours-per-day">
        <span style="font-weight:bold;">Avg. hours pr. person/day <br></span>
        <span th:text="${project.project_hours_per_day}">*Hours per person*</span>
        <span style="color:orange;" th:if="${project.project_hours_per_day} > 8">Assign more users to reduce workload</span>
      </div>
    </div>
   </a>
  </div>

</body>
<footer th:insert="~{fragments/navigation.html :: footer}"></footer>
</html>