<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>This project</title>
  <link rel="stylesheet" th:href="@{../css/navbar.css}">
  <link rel="stylesheet" th:href="@{../css/footer.css}">
  <link rel="stylesheet" th:href="@{../css/subprojects.css}">
  <link rel="stylesheet" th:href="@{../css/editproject.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
<nav th:insert="~{fragments/navigation.html :: navbar}"> </nav>
<div class="outer-box">
  <div class="grid-box">
    <span id="name-headline">Project: </span>
    <div id="project-name" th:text="${project.project_name}">Project name</div>
    <div id="project-desc" th:text="${project.project_description}">Project description</div>

    <div id="project-start">
      <span id="start-headline">Start: <br></span>
      <span id="start-date" th:text="${project.project_start}"></span>
    </div>

    <div id="project-deadline">
      <span id="deadline-headline">Deadline: <br></span>
      <span id="deadline-date" th:text="${project.project_deadline}"></span>
    </div>

    <div id="project-status">
      <span id="status-headline">Status: <br></span>
      <span id="status-current" th:text="${project.project_status}"></span>
    </div>


    <div id="project-hours">
      <span id="manhours-headline">Total man-hours: <br></span>
      <span id="manhours-total" th:text="${project.project_hours}"></span>
    </div>
    <button id="edit-project-button" type="button" onclick="openEditForm()" th:if="${session.project_role == 'Project Leader' || session.is_admin == 1}">Edit Project</button>
    <a id="assign-project-error" th:if="${session.assign_project_error == true}">Incorrect e-mail</a>
    <div id="assign-form" th:if="${session.project_role == 'Project Leader'}">
      <form action="/assignproject" method="post">
        <input name="projectId" type="hidden" th:value="${project.getProject_id}">
        <label for="assign-email">Enter E-mail</label>
        <input id=assign-email list="email-box" name="assign-email" placeholder="Enter E-mail..." required>
        <datalist id="email-box" size="5">
             <option th:each="users : ${all_users}" th:value="${users.email}">
             </option>
        </datalist>

        <label for="assign-roles">Assign a role:</label>
        <select id="assign-roles" name="role">
          <option value="Developer" selected>Developer</option>
          <option value="Project Leader">Project Leader</option>
        </select>
        <input id="assign-project-button" type="submit" value="Assign">
      </form>
    </div>

    <button class="open-editroles-button" onclick="openCreateForm()" th:if="${session.project_role == 'Project Leader'}">Edit Participants</button>
    <div class="editroles-popup" id="myEditRoleForm">
      <h2>Edit Participants</h2>
      <div class="editroles-popup-outerbox">
        <div id="editroles-popup-user-object" th:each="user : ${assignedusers}">
          <div id="editroles-popup-user-fullname" th:text="${user.getFull_name}">Full name</div>
          <div id="editroles-popup-user-email" th:text="${user.getEmail}">Email adress</div>
          <div id="editroles-popup-user-role">
            <form action="/editrole" method="post">
              <input type="hidden" name="user_id" th:value="${user.getUser_id}">
              <input type="hidden" name="project_id" th:value="${project.getProject_id}">
              <select id="edit-roles" name="role">
                <option value="Developer" th:selected="${user.getRole == 'Developer'}">Developer</option>
                <option value="Project Leader" th:selected="${user.getRole == 'Project Leader'}">Project Leader</option>
                <input id="editroles-popup-submit-button" type="submit" value="Submit">
              </select>
            </form>
          </div>
          <div id="editroles-popup-user-delete">
            <a  id="editroles-popup-user-delete-alink" th:href="@{'/projectassignment/delete/' + ${user.user_id} + '/' + ${project.project_id}}">
              <p style="font-size:14px; margin:3px 0 0 5px; overflow:hidden; font-weight: bold;">Remove</p>
            </a>
          </div>
        </div>
      </div>
      <button class="close-editroles-button" onclick="closeCreateForm()">Close</button>
    </div>



      <div id="create-subproject-form">
        <form action="/createsubproject" method="post">
          <input name="projectId" type="hidden" th:value="${project.getProject_id}">
          <input id="create-subproject-name" name="subprojectName" type="text" placeholder="Subproject title...">
          <input id="create-subproject-button" type="submit" value="Create subproject" required>
        </form>
      </div>

    <div id="project-participants">
      <div id="assignment-object" th:each="user : ${assignedusers}">
        <div id="assigned-user-fullname" th:text="${user.full_name}"></div>
        <div id="assigned-user-role" th:text="${user.role}"></div>
        <div id="assigned-user-email" th:text="${user.email}"></div>
      </div>
    </div>
    <div id="participants-headline">Participants in the project</div>
    </div>


  <div class="subproject-outerbox">
  <div th:each="subproject : ${subprojects}">
    <a href="/subproject" th:href="@{'/subproject/'+${subproject.getSubproject_id}}">
    <div class="subproject-element">

      <div id="subproject-name" th:text="${subproject.subproject_name}"></div>

      <div id="subproject_description-title">Description:</div>
      <div id="subproject_description" th:text="${subproject.subproject_description}"></div>
      <div id="subproject_deadline-title">Deadline:</div>
      <div id="subproject_deadline" th:text="${subproject.subproject_deadline}"></div>
      <div id="subproject_status-title">Status:</div>
      <div id="subproject_status" th:text="${subproject.subproject_status}"></div>

    </div>
    </a>
  </div>

  </div>


  <!-- Pop up for editing a project including delete button-->
  <div class="edit-form-popup" id="editForm">

    <div class="delete-project-button">
      <a id="delete-project" th:href="@{'/deleteproject/' + ${project.project_id}}">
        Delete
      </a>
    </div>

    <form action="/editproject" method="post">

      <input id="projectID" name="projectID" type="hidden" th:value="${project.getProject_id}">
      <br>
      <label for="projectName"><b>Project name</b></label><br>
      <input id="projectName" name="projectName" type="text" placeholder="Project name" th:value="${project.getProject_name}">
      <br><br>
      <label for="projectDescription"><b>Project description</b></label><br>
      <textarea id="projectDescription" name="projectDescription" type="text" placeholder="Project description" th:text="${project.getProject_description}"></textarea>
      <br><br>
      <label for="projectStart"><b>Project start date</b></label><br>
      <input id="projectStart" name="projectStart" type="text" placeholder="dd/mm/yyyy" th:value="${project.getProject_start}">
      <br><br>
      <label for="projectDeadline"><b>Project deadline</b></label><br>
      <input id="projectDeadline" name="projectDeadline" type="text" placeholder="dd/mm/yyyy" th:value="${project.getProject_deadline}">
      <br><br>

      <div class="label-box">
        <div id="projectHour-title">
      <label for="projectHours"><b>Project hours</b></label>
        </div>
        <div id="projectStatus-title">
        <label for="projectStatus"><b>Project status</b></label>
        </div>

      </div>
      <div class="hours-status-box">
      <input id="projectHours" name="projectHours" type="text" placeholder="Use only integers" th:value="${project.getProject_hours}">

      <select id="projectStatus" name="projectStatus" >
        <option disabled selected value>Select an option</option>
        <option value="To do" th:selected="${project.getProject_status == 'To do'}">To do</option>
        <option value="In progress" th:selected="${project.getProject_status == 'In progress'}">In progress</option>
        <option value="Done" th:selected="${project.getProject_status == 'Done'}">Done</option>
        <option value="Paused" th:selected="${project.getProject_status == 'Paused'}">Paused</option>
      </select>
      </div>
      <!--<input id="projectStatus" name="projectStatus" type="text" placeholder="Project status" th:value="${project.getProject_status}">-->
      <br><br>
      <button id="edit-button" type="submit">Update</button>
      <button class="btn cancel" type="button" onclick="closeEditForm()">Cancel</button>

    </form>
  </div>
</div>
<script>
  function openCreateForm() {
    document.getElementById("myEditRoleForm").style.display = "block";
  }

  function closeCreateForm() {
    document.getElementById("myEditRoleForm").style.display = "none";
  }





  function openEditForm()
  {
    document.getElementById("editForm").style.display = "block";
  }

  function closeEditForm()
  {
    document.getElementById("editForm").style.display = "none";
  }



</script>

</body>
<footer th:insert="~{fragments/navigation.html :: footer}"></footer>
</html>