<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
  <link rel="stylesheet" th:href="@{../css/navbar.css}" href="../static/css/navbar.css">
  <link rel="stylesheet" th:href="@{../css/footer.css}" href="../static/css/footer.css">
  <link rel="stylesheet" th:href="@{../css/subprojecttask.css}" href="../static/css/subprojecttask.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
<nav th:insert="~{fragments/navigation.html :: navbar}"> </nav>
<div class="outer-box">
    <div class="grid-box">
        <div id="name-button-box">
            <span id="name-headline">Subproject: </span><br>
            <div id="backlink">
                <a href="/project/" th:href="@{'/project/' + ${subproject.getProject_id}}"><button id="backbutton">Back to <br> project</button></a>
            </div>
        </div>
        <div id="subproject-name" th:text="${subproject.subproject_name}">Project name</div>
        <div id="subproject-desc" th:text="${subproject.subproject_description}">Project description</div>

        <div id="subproject-deadline">
            <span id="deadline-headline">Deadline: <br></span>
            <span id="deadline-date" th:text="${subproject.subproject_deadline}"></span>
        </div>

        <div id="subproject-status">
            <span id="status-headline">Status: <br></span>
            <span id="status-current" th:styleappend="${subproject.subproject_status == 'null' ? 'display:none' : ''}" th:text="${subproject.subproject_status}"></span>
        </div>


        <div id="subproject-hours">
            <span id="manhours-headline">Total man-hours: <br></span>
            <span id="manhours-total" th:text="${subproject.subproject_hours}"></span>
        </div>
        <button id="edit-subproject-button" type="button" onclick="openEditForm()" th:if="${session.project_role == 'Project Leader' || session.is_admin == 1}">Edit Subproject</button>

        <div id="create-task-form">
            <form action="/createtask" method="post">
                <input name="subprojectId" type="hidden" th:value="${subproject.getSubproject_id}">
                <input id="create-task-name" name="taskName" type="text" placeholder="Task title..." required>
                <input id="create-task-button" type="submit" value="Create task" required>
            </form>
        </div>

        <div id="subproject-participants">
            <div id="assignment-object" th:each="user : ${assignedusers}">
                <div id="assigned-user-fullname" th:text="${user.full_name}"></div>
                <div id="assigned-user-role" th:text="${user.role}"></div>
                <div id="assigned-user-email" th:text="${user.email}"></div>
            </div>
        </div>
        <div id="participants-headline">Participants in the subproject</div>
    </div>

    <div class="task-outerbox">
        <div th:each="task : ${tasks}">
            <a href="/allsubprojecttasks" th:href="@{'/task/'+${task.getTask_id}}">
            <div class="task-element">
                <div id="task-name" th:text="${task.task_name}"></div>
            <div id="task_priority-title">Priority:</div>
            <div id="task_priority" th:styleappend="${task.task_priority == 0 ? 'display:none' : ''}" th:text="${task.task_priority}" ></div>
            <div id="task_deadline-title">Deadline:</div>
            <div id="task_deadline" th:text="${task.task_deadline}"></div>
            <div id="task_status-title">Status:</div>
            <div id="task_status" th:styleappend="${task.task_status == 'null' ? 'display:none' : ''}" th:text="${task.task_status}"></div>
            <div id="task_description-title">Description:</div>
            <div id="task_description" th:text="${task.task_description}"></div>
            </div>
            </a>
        </div>
    </div>

    <div class="edit-form-popup" id="editForm">


        <form action="/editsubproject" method="post">
            <br>
            <input id="subprojectID" name="subprojectID" type="hidden" th:value="${subproject.getSubproject_id}">
            <label for="subprojectName"><b>Subproject name</b></label><br>
            <input id="subprojectName" name="subprojectName" type="text" placeholder="Subproject name" th:value="${subproject.getSubproject_name}">
            <br><br>
            <label for="subprojectDescription"><b>Subproject description</b></label><br>
            <textarea id="subprojectDescription" name="subprojectDescription" type="text" placeholder="Subproject description" th:text="${subproject.getSubproject_description}"></textarea>
            <br><br>
            <label for="subprojectDeadline"><b>Subproject deadline</b></label><br>
            <input id="subprojectDeadline" name="subprojectDeadline" type="text" placeholder="Subproject deadline" th:value="${subproject.getSubproject_deadline}">
            <br><br>

            <div class="label-box">
                <div id="subprojectStatus-title">
                    <label for="subprojectStatus"><b>Subproject status</b></label>
                </div>

            </div>
            <div class="hours-status-box">
                <select id="subprojectStatus" name="subprojectStatus" >
                    <option value="null" th:selected="${subproject.getSubproject_status == 'null'}">Select an option</option>
                    <option value="To do" th:selected="${subproject.getSubproject_status == 'To do'}">To do</option>
                    <option value="In progress" th:selected="${subproject.getSubproject_status == 'In progress'}">In progress</option>
                    <option value="Done" th:selected="${subproject.getSubproject_status == 'Done'}">Done</option>
                    <option value="Paused" th:selected="${subproject.getSubproject_status == 'Paused'}">Paused</option>
                </select>
            </div>

            <br><br>
            <button id="edit-button" type="submit">Update</button>
            <button class="btn cancel" type="button" onclick="closeEditForm()">Cancel</button>

            <div class="delete-subproject-button">
                <a id="delete-subproject" th:href="@{'/deletesubproject/' + ${subproject.subproject_id}} + '/' + ${subproject.project_id}">
                    Delete Subproject
                </a>
            </div>

        </form>
    </div>
</div>
<script>


    function openEditForm()
    {
        document.getElementById("editForm").style.display = "block";
    }

    function closeEditForm()
    {
        document.getElementById("editForm").style.display = "none";
    }

</script>
</body>

<footer th:insert="~{fragments/navigation.html :: footer}"></footer>

</html>