<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
  <link rel="stylesheet" th:href="@{../css/navbar.css}" href="../static/css/navbar.css">
  <link rel="stylesheet" th:href="@{../css/footer.css}" href="../static/css/footer.css">
  <link rel="stylesheet" th:href="@{../css/task.css}" href="../static/css/task.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>

</body>
</html>